<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="~/css/Home.css">
    <title></title>
</head>
<body class="container">

    <div class="bullspit">
        <h1>Rashad</h1>
    </div>
    <div class="navbar">
        <p><a href="/">Home</a> <a href="/rockaway">Music</a></p>
    </div>
    <div class="photo">
        <img class="pic" src="~/images/rockaway.jpg" alt="ablum cover">
    </div>
    <div class="bottoms">
        <div class="socialmedia">
            <a href="https://www.instagram.com/rashad.xx/"><img src="~/images/instagram.png" alt="IG"></a>
            <a href="https://soundcloud.com/rashad_xx"><img src="~/images/soundcloud.png" alt="SC"></a>
            <a href="https://twitter.com/rashadsahar"><img src="~/images/twitter.png" alt="TWIT"></a>
            <a href="https://open.spotify.com/artist/0PoeP3AywAbC4PKZX1bZy5"><img src="~/images/spotify.png" alt="SPOT"></a>
            <a href="mailto:persianrugrecords@gmail.com"><img src="~/images/email.png" alt="email"></a>
        </div>
    </div>
    
</body>
</html>