<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="~/css/Music.css">
    <title>Music Page</title>
</head>
<body class="container">
    
    <div class="navbar">
        <p><a href="/">Home</a><a href="/rockaway">Music</a></p>
    </div>
    <div class="content">
        <div class="photo">
            <img class="pic" src="~/images/rockaway.jpg" alt="ablum cover">
        </div>
        <div class="music_options">
            <!-- <div class="music_title"><h2>Choose Music Service</h2></div> -->
            <!-- <hr> -->
            <div class="apple_music">    
                <a target="_blank" href="https://itunes.apple.com/us/album/rockaway-single/1438239375?app=music&ign-mpt=uo%3D4" data-player="applemusic" data-servicetype="play" data-apptype="manual">
                    <div class="apple_music_logo">
                        <img width="125px" height="40px" style="display:inline-block;" src="https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_applemusic.svg" alt="applemusic">
                    </div>
                    <div class="button">
                        <button class="apple_music_play">Play</button>
                    </div>
                </a>
            </div>
            <hr>
            <div class="spotify">    
                <a target="_blank" href="https://open.spotify.com/embed/album/7oDK8MfLMOV4w5TOukUs4Z" data-uri="spotify:album:7oDK8MfLMOV4w5TOukUs4Z" data-player="spotify" data-servicetype="play" data-apptype="manual">
                    <div class="spotify_logo">
                        <img width="125px" height="40px" style="display:inline-block;" src="https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_spotify.svg" alt="spotify">
                    </div>
                    <div class="button">
                        <button class="spotify_play">Play</button>
                    </div>
                </a>
            </div>
            <hr>
            <div class="soundcloud">    
                <a target="_blank"ref="https://soundcloud.com/rashad_xx/sets/rockaway" data-player="soundcloud" data-servicetype="play" data-apptype="manual">
                    <div class="soundcloud_logo">
                        <img width="125px" height="40px" style="display:inline-block;" src="https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_soundcloud.svg" alt="soundcloud">
                    </div>
                    <div class="button">
                        <button class="soundcloud_play">Play</button>
                    </div>
                </a>
            </div>
            
            <hr>
            <div class="tidal">    
                <a target="blank" href="https://tidal.com/browse/album/96220458" data-player="tidal" data-servicetype="play" data-apptype="manual">
                    <div class="tidal_logo">
                        <img width="125px" height="40px" style="display:inline-block;" src="https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_tidal.svg" alt="tidal">
                    </div>
                    <div class="button">
                        <button class="tidal_play">Play</button>
                    </div>
                </a>
            </div>
            <hr>
                <div class="itunes">    
                    <a target="_blank" href="https://itunes.apple.com/us/album/rockaway-single/1438239375?app=itunes&ign-mpt=uo%3D4" data-player="itunes" data-servicetype="download" data-apptype="manual">
                        <div class="itunes_logo">
                            <img width="125px" height="40px" style="display:inline-block;" src="https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_itunes.svg" alt="itunes">
                        </div>
                        <div class="button">
                            <button class="itunes_play">Download</button>
                        </div>
                    </a>
                </div>
            <hr>
            <div class="google_play">    
                <a target="_blank" href="https://play.google.com/store/music/album/Rashad_Rockaway?id=Bjmbq3g37eu3hsqkh42srya4v2m" data-player="google-play" data-servicetype="download" data-apptype="manual">
                    <div class="google_play_logo">
                        <img width="125px" height="40px" style="display:inline-block;" src="https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_google-play.svg" alt="google-play">
                    </div>
                    <div class="button">
                        <button class="google_play_play">Download</button>
                    </div>
                </a>
            </div>
            <hr>
        </div>
    </div>
    <div class="bottoms">
        <div class="socialmedia">
            <a target="_blank" href="https://www.instagram.com/rashad.xx/"><img src="~/images/instagram.png" alt="IG"></a>
            <a target="_blank" href="https://soundcloud.com/rashad_xx"><img src="~/images/soundcloud.png" alt="SC"></a>
            <a target="_blank" href="https://twitter.com/rashadxxxx"><img src="~/images/twitter.png" alt="TWIT"></a>
            <a target="_blank" href="https://open.spotify.com/artist/0PoeP3AywAbC4PKZX1bZy5"><img src="~/images/spotify.png" alt="SPOT"></a>
            <a target="_blank" href="mailto:persianrugrecords@gmail.com"><img src="~/images/email.png" alt="email"></a>
        </div>
    </div>

</body>
</html>